/* Resetando estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', 'Arial', 'Times New Roman', Times, sans-serif;
}

a{
    text-decoration: none;
    color: initial;
}
/* Estilos gerais */

.header{
    max-width: 1260px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-nav ul a li{
    list-style-type: none;
    margin: 0 14px;

}

.header-nav ul a li i{
    color: #5CA720;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo h1{
    font-size: 1.61em;
    line-height: 2em;
    
}

/* Banner */

.section-banner img{
    width: 100%;

}

/*Promoção*/

.section-promo{
    max-width: 1260px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    

}


.section-promo h2{
    font-size: 1.25em;
    text-transform: uppercase;
    font-family: 'Lato', 'Arial', 'Times New Roman', Times, sans-serif;
}

.section-promo p{
    font-size: 1.125em;
}

/* Section-BG */
.section-bg{
    border-top: 1px solid #A5A1A1;
}

/*Produtos*/

.section-product{
    max-width: 1260px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-itens{
    width: 316px;
    margin: 30px 0;
 
}

.products-itens p{
    font-size: 1.3em;
    line-height: 1.6em;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.products-itens .product-price{
    font-size: 1.2em;
    padding: 0 8px;
    line-height: 1.6em;
    color: #5CA720;
}


@media (max-width: 300px){
   .header{
       padding: 0 40px;
   }
}